@use './variavies' as *;

.barra{
    background-color:$accent;
    color:$text-primary;
    height: 40px;
    margin: 0;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 20px;
        font-size: 18px;
        gap: 20px;
        align-self: center;
        padding: 10px;
    }

    li{
        text-decoration: none;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $backgrond;

        a:hover{
            color: $primary;
        }
        a:active{
            font-weight: bold;

        }
    }
}