@use './variavies' as *;

.coluna{
    background-color: $backgrond;
    border: 2px solid $secondary;
    border: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .titulo{
        font-size: 18px;
        color: $primary;
        text-align: center;
        font-family: $front-primary;
    }
}