@use './variavies.scss' as *;

.container{
    max-width: 1440px;
    padding: 10px;
    display:flex ;
    flex-direction: column;
    gap: 2px;
    background-color: $accent;
    margin-left: 23vh;
    margin-top: 5vh;

    h1{
        color: $backgrond;
        font-size: 29px;
    }
}

