@use './variavies.scss' as *;

.container {
  max-width: 1490px;
  padding: 10px;
  display: flex;
  flex-direction: column;   
  gap: 20px;
  background-color: $accent;
  margin-left: 23vh;
  margin-top: 5vh;
  

  h1 {
    color: $backgrond;
    font-size: 29px;
    text-align: center;
  }
}


.colunas {
  display: flex;
  flex-direction: row;     
  gap: 20px;
}


.coluna {
  flex: 1;                  
  background: white;
  border-radius: 10px;
  padding: 5px;
}